/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #7677FC;
$primary-color-hover: #6263EF;
$light-bg: #F4F5FA;
$light-bg-hover: #7677FC;
$gray-text: #777;
$light-gray: #e6ecf0;

/** Navbar **/

.navbar {
  border-radius: 0px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.05);
  background-color: white;
  border-bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  .nav-text {
    font-weight: 500;
    margin-left: 8px;
  }

  .dropdown-menu {
    border: none;
  }

  .nav-sign-up-button {
    padding: 10px 24px;
    margin-top: 5px;
    border: 1px solid $primary-color;
    color: $primary-color !important;
    border-radius: 4px;
    margin-left: 24px;

    &:hover {
      background: $primary-color !important;
      color: white !important;
    }
  }
}

.nav > li {
  display: flex;
  align-items: center;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #999;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
}

.navbar-brand {
  padding-left: 0px;
  color: $primary-color !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.dropdown-menu {
  background: white;
}

.dropdown-menu > li > a{
  color: #777;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: $light-gray;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
}

.dropdown-menu .divider {
  background-color: #222;
}

.category-nav {
  display: flex;
  align-items: center;

  .fa-plus {
    font-size: 16px;
    margin-right: 4px;
  }
}

/** Alerts **/

.alert-info {
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.05);
  color: $gray-text;
  border: 1px solid #efefef;
  border-radius: 4px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


/** Fonts **/

.fal {
  font-size: 24px;
}

a:hover, a:focus {
  text-decoration: none;
}

.label {
  font-size: 11px;
  color: $gray-text;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px;
}

/** Container **/

.page-center {
  text-align: center;
}

.container {
  width: 1080px;
}

.page-container {
  position: relative;
  display: inline-block;
  width: 1000px;
  margin: 0 auto;
  margin-top: 144px;
  margin-bottom: 160px;
}

.page-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $light-bg;
}

/** Board Page **/

.new-post-button {
  height: 48px;
  width: 48px;
  background-color: #333;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);

  &:hover {
    background-color: #555;
  }
}


/** Forms **/

.form-container {
  width: 480px;
  margin: 0 auto;
  margin-top: 160px;
  background-color: white;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  padding: 32px 32px 40px 32px;
  border-radius: 4px;
}

.form-title {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 48px;
}

.form-control {
  height: 48px;
  margin-bottom: 16px;
  border-color: $primary-color;
  color: $primary-color;
  background-color: white;
  outline:0;
  box-shadow: 0px;
}

.form-control:focus {
  border-color: $primary-color;
}

.form-button {
  width: 100%;
  height: 48px;
  background-color: $primary-color;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  color: white;
  font-weight: 500;

  &:hover {
    background-color: $primary-color-hover;
    color: white;
    outline: 0;
  }

  &:focus {
    background-color: $primary-color-hover;
    color: white;
    outline: 0;
  }
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 0;
}

.remember-me {
  margin: 16px 0px 16px 20px;

  label {
    font-weight: 400;
  }
}

.shared-links {
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.link-style {
  color: $gray-text;

  &:hover {
    color: #000;
  }
}

.link-style:nth-child(even) {
  margin-top: 16px;
}


/** Home Page **/

.home-title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  color: $primary-color;
}

.home-subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 64px;
}

.sign-up-button {
  padding: 24px 56px;
  border-radius: 4px;
  height: 48px;
  background-color: $primary-color;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  color: white;
  font-weight: 500;

  &:hover {
    background-color: $primary-color-hover;
    color: white;
  }

  &:focus {
    background-color: $primary-color-hover;
    color: white;
  }
}

.section-container {
  width: 1000px;
  margin-top: 120px;
  position: relative;
}

.section-left {
  .background {
    background-color: $light-bg;
    width: 800px;
    float: right;
    height: 680px;
    display: flex;
    align-items: center;
    padding: 40px;

  }
  .info {
    width: 400px;
    height: 480px;
    margin-left: auto;
    text-align: left;

    .section-title {
      font-size: 32px;
      font-weight: 600;
    }

    .section-subtitle {
      font-size: 18px;
      color: $gray-text;
    }

    .feature-title {
      font-size: 18px;
      font-weight: 500;
      margin-top: 40px;
    }

    .feature-text {
      color: $gray-text;
    }
  }

  .decor-1 {
    width: 340px;
    height: 340px;
    position: absolute;
    left: 80px;
    top: 80px;
    background-color: $light-bg-hover;
    border-radius: 8px;
    background-image: url('https://dl.dropboxusercontent.com/s/idk1bv2n79e7rht/Decor-1.png?dl=0');
    background-size: cover;
    background-position: center;
  }

  .decor-2 {
    width: 216px;
    height: 176px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.10);
    position: absolute;
    left: 0px;
    top: 344px;
    border-radius: 8px;
    background-image: url('https://dl.dropbox.com/s/6g8vfgqvj398qo8/Decor-2.png?dl=0');
    background-size: cover;
    background-position: center;
  }

  .decor-3 {
    width: 216px;
    height: 176px;
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.20);
    position: absolute;
    left: 236px;
    top: 440px;
    border-radius: 8px;
    background-image: url('https://dl.dropbox.com/s/jp6hsjwbxzjc4tl/Decor-3.png?dl=0');
    background-size: cover;
    background-position: center;
  }
}

/** Shortcut Page **/

.page-title {
  font-size: 48px;
  font-weight: 600;
  text-align: left;
}

.category-section {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.category-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  .fa-ellipsis-v {
    font-size: 18px;
    color: #777;
  }
}

.category-title {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-right: 16px;
}

.shortcut-box {
  width: 100%;
  margin-top: 24px;
}

.shortcut-card {
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
  width: 100px;
}

.shortcut-image {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: $light-gray;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c5ccd2;

  .fa-plus {
    font-size: 32px;
    color: #c5ccd2;
  }
}

.shortcut-image:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.10);
  background: white;
  color: #7572ff !important;
}

.shortcut-title-image {
  font-size: 32px;
}

.shortcut-title {
  color: #657786;
  text-align: center;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.empty-post-box {
  width: 100%;
  height: 320px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
  font-size: 60px;
  font-weight: 600;
  margin-left: 24px;
  margin-bottom: 24px;
  color: $light-bg;
  text-shadow:
   -1px -1px 0 $primary-color,
    1px -1px 0 $primary-color,
    -1px 1px 0 $primary-color,
     1px 1px 0 $primary-color;
  }
}

.category-button {
  padding: 24px 56px;
  border-radius: 4px;
  height: 48px;
  background-color: $primary-color;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  color: white;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background-color: $primary-color-hover;
    color: white;
  }

  &:focus {
    background-color: $primary-color-hover;
    color: white;
  }
}
