<div class="home-page-container">
  <div class="home-title">"Dropbox for musicians"</div>
  <div class="home-subtitle">Catalog lets you organize and share your music</div>
  <%= link_to "Get Started", new_user_registration_path, class: "sign-up-button" %>
  <div class="section-container">
    <div class="section-left">
      <div class="background">
        <div class="info">
          <div class="label">Our motto</div>
          <div class="section-title">Keep it simple.</div>
          <div class="section-subtitle">Easily create catalogs to organize and share music</div>
          <div class="feature-title">Unlimited uploads</div>
          <div class="feature-text">Create as many catalogs and upload as many beats/songs as you want</div>
          <div class="feature-title">Private</div>
          <div class="feature-text">Only people who you share your catalog link can access it</div>
          <div class="feature-title">100% Free</div>
          <div class="feature-text">It's fully free to use, no credit card or payment needed</div>
        </div>
      </div>
      <div class="decor-1"></div>
      <div class="decor-2"></div>
      <div class="decor-3"></div>
    </div>
  </div>
</div>
